body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    background: rgb(218, 193, 238);
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(196, 155, 228);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.button {
    margin-top: 20px;
    padding: 15px;
    background-color:  rgb(152, 103, 198);
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    cursor: pointer;    
    width: 0%;
    align-self: center;

}

.user-info {
    display: flex;
    align-items: center;
}

.user-dp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.welcome-message {
    text-align: center;
}


main {
    padding: 20px 40px;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.ask-question-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.ask-question-button:hover {
    background-color: #0056b3;
}


.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.styled-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.styled-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.styled-table td:first-child {
    width: 70%;
}

.styled-table td:nth-child(2) {
    width: 20%;
}