<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homestyle.css') }}">
</head>
<body class="homepage">
    <header class="header">
        <div class="user-info">
            <img src="{{ url_for('static', filename='user-dp.png') }}" alt="User DP" class="user-dp">
        </div>
        <div class="welcome-message">
            <h1>Welcome, {{name}} ! </h1>
            <p>{{designation}}</p>
        </div>
        <div class="header-buttons">
            <button onclick="location.href='/logout'">Logout</button>
        </div>
    </header>
    <main class="main-content">
        <div class="container">
            <h2>Questions Asked</h2>
            {% for room in room_name %}
            <h3>{{room[1]}}<h3>
            <h6>{{room[0]}}</h6>
            </h3>
            {% endfor %}
        </div>
        <div class="container">
            <h2>Upcoming Tests and Assignments</h2>
            <!-- Tests and assignments content here -->
        </div>
        <a href="/chat"><button class="small-button">Ask a Question</button></a>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
