<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <h1>Algebra Assist</h1>
            <p>Creating Connected Classrooms for Math Mastery</p>
        </div>
        <div class="creds">
            <form id="loginForm" action="/login" method="post">
                <h1><b>LOGIN</b></h1>
                <label for="username">Username</label>
                <input type="text" placeholder="Enter your username" id="username" name="username" required> 
                <label for="email">Password</label>
                <input type="password" placeholder="Enter your Passward" id="email" name="password" required>
                <label>Designation:</label>
                <div style="padding: 5%;">
                <input type="radio" id="student" name="designation" value="Student" required class="radiobtn">
                <label for="student">Student</label>
                <input type="radio" id="teacher" name="designation" value="Teacher" class="radiobtn">
                <label for="teacher">Teacher</label></div>
                <button type="submit">Login</button>
                {% if error %}
                <h3 class="error">{{error}}</h3>
                {% endif %}
            </form>
        </div>      
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
