<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="logo">  
            <br><br><br>
            <h1>Algebra Assist</h1>
            <p>Creating Connected Classrooms for Math Mastery</p>
        </div>
        <div class="creds">
            <form id="RegisterForm" action="/register" method="post">
                <h1><b>Register</b></h1>
                <label for="username">Username</label>
                <input type="text" placeholder="Enter your username" id="username" name="username" required> 
                <label for="pwd">Password</label>
                <input type="password" placeholder="Enter your Password" id="pwd" name="password" required>
                <label for="cpwd">Confirm password:</label>
                <input type="password" placeholder="Enter your Confirm Password" id="cpwd" name="confirm_password" required>
                <button type="submit">Register</button>
                {% if error %}
                <h3 class="error">{{error}}</h3>
                {% endif %}
            </form>
            <h1><b>Already a exister user?</b></h1>
            <p style="text-align: center;"><a href="/login"><button>Login</button></a></p>
        </div>      
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
