{% extends 'base.html' %} {% block content %}
<div class="chats">
<div class="chatbtns">
<a href="/homepage"><button class="chatbtn" >Home</button></a>
<a href="/logout"><button class="chatbtn">Logout</button></a>
<a href="/chat"><button class="chatbtn">Join another room</button></a>
</div>
<br>
<div class="message-box">
  <h2>{{topic}}</h2>
  <h2>Code: {{code}}</h2>  
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input
      type="text"
      rows="2"
      placeholder="Message"
      name="message"
      id="message"
    />
    <button type="button" name="send" class="sendbutton" style="transform: translateY(-45%);background-color: green; font-size: larger; width: 10%;" id="send-btn" onClick="sendMessage()">
      Send
    </button>
  </div>
</div>
</div>
<script type="text/javascript">
  var socketio = io();

  const messages = document.getElementById("messages");

  const createMessage = (name, msg, designation) => {

    const content = `
    <div class="text">
        <span>
            <strong>${name}</strong> ${designation}: ${msg}
        </span>
        <span class="muted">
            ${new Date().toLocaleString()}
        </span>
    </div>
    `;
    messages.innerHTML += content;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message, data.designation);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
  };
</script>
{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{msg.name}}", "{{msg.message}}", "{{msg.designation}}");
</script>
{% endfor %} 


{% endblock %}
