{% extends 'base.html' %}

{% block content %}
<div class="creating">
<form action="" method="post" class="form">
    <h1>Start a discussion</h1>
    <div>
        <label for="topic">Topic</label>
        <input type="text" placeholder="Enter the topic" name="topic" value="{{topic}}">
        <br><br><br>
        <label for="code">Code</label>
        <input type="text" placeholder="Room code" name="code" value="{{code}}"/>
        <button type="submit" name="join">Join a room</button>
    </div>
    <button type="submit" name="create" class="create-btn">Create a room</button>
</form>
{% if error %}
<h2 class="error">{{error}}</h2>
</div>
{% endif %}

{% endblock %}