{% extends 'base.html' %}

{% block content %}
<div class="creating">
<form action="" method="post" class="form">
    <h1>Start a discussion</h1>
    <div>
        <label for="topic">Topic</label>
        <input type="text" placeholder="Enter the topic" name="topic" value="{{topic}}">
        <button type="submit" name="create"class="button">Create a room</button> 
        
    </div>
    <h1>Join a discussion with Code </h1>
    <div>
        <label for="code">Code</label>
        <input type="text" placeholder="Room code" name="code" value="{{code}}"/>
        <button type="submit" name="join" class="button">Join a room</button>
    </div>
    
</form>
{% if error %}
<h2 class="error">{{error}}</h2>
</div>
{% endif %}

{% endblock %}